<div id="login-container">
    <div id="login-frame">
        <div id="login-header">
            <h3>Login</h3>
        </div>
        <div id="login-body">
            {{#if loggedIn}}
                <p>You are already logged in!</p>
            {{else}}
                <a href="/lib/discord/login" target="_blank" class="login-button">Discord <i class="fa fa-discord login-button-icon"></i></a>
            {{/if}}
        </div>
        <div id="login-footer">
            There might be more login services in the future. I am not planning on adding account creation for security reasons, as well as unnecessary hassle.
        </div>
    </div>
</div>