* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
    width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

a {
    transition-duration: 0.3s;
}

#content{
    margin-top: 100px;
    width: 100%;
    border-radius: 0.5em;
    background: white;
}