<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body class="bg-dark">
        {{> header}}
        <div class="container">
            <div id="content">
            {{{body}}}
            </div>
        </div>
        {{> footer}}
    </body>
</html>